body {
    width: 800px;
    height: 230px;
    padding: 20px;
    border: 1px solid black;
  }
h2 {

}
nav {

}
img {
    margin-left: 309px;
    margin-bottom: 
  }
}
div {

}
h3 {
    width: 250px;
    height: 60px;
    padding: 5px;
    border: 1px solid black;

    text-align: center;
    line-height: 55px;
}

