body {
    width: 800px;
    height: 230px;
    padding: 0px;
    background-color: gray;
    border: 1px solid black;
  
  }
h2 {
    font-size: 42px;
    text-transform: uppercase;
    line-height: 5px;
}
nav {
    font-size: 18px;
    line-height: 5px;
}
img {
  float: right;
  }
  .container {
    position: relative;
  }
  
div {
  
}

h3 {
    width: 350px;
    height: 60px;
    padding: 5px;
    border: 1px solid black;

    text-align: center;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

