/* qq why is the background color not working???*/
body {
  width: 850px;
  height: 308px;
  padding-left: 35px;
  border-radius: 25px;
  border: 15px solid black;
  background: ;
}

h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;

  line-height: 5px;
  color: white;
}
nav {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 10px;
  word-spacing: 5px;
  color: gray;
}
a {
  color: rgb(75, 75, 75);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

b {
  font-style: normal;
}
/*gradient???????*/
img {
  float: right;
}
.pictureposition {
  position: relative;
  overflow: auto;
}
.text {
  position: absolute;
}

/* why is line height not working??*/
p {
  width: 400px;
  padding-top: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 3px;
  color: rgb(154, 154, 154);

  text-align: left;
  line-height: 12px;
}
/* how to do class for links???*/
h3 {
  text-align: left;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: "Playfair Display SC", serif;
  color: black;
}
a:link {
  background-color: rgb(258, 201, 54);
  color: black;
  padding: 5px 65px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:visited {
  background-color: rgb(258, 201, 54);
  color: black;
  padding: 10px 65px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  opacity: 80%;
  color: black
}
/* how to Keep the color black?*/
